[submodule "backend"]
	path = backend
	url = https://github.com/utkarshbodele23/PaperMind_Backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/utkarshbodele23/PaperMind_Frontend.git
